body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    padding: 30px;
}

header {
    background: linear-gradient(to right,#001f3f, #007bff);
    color: white;
    text-align: center;
    padding: 20px;
}


.container {
    display: flex;
    padding: 20px;
}


main {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
    gap: 20px;
}

.movie-card {
    background: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    transition: transform 0.3, box-shadow 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgb(0,0,0,0.3);
}

.movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

aside {
    background: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background: linear-gradient(to right,#001f3f, #007bff);
    color: white;
    text-align: center;
    padding: 10px;
}